
@{
    ViewData["Title"] = "Landing";
}
<content>
    <div class="container align-content-center" >
        <h1>The Flashcard Application - An Explanation</h1>
        <p>During my degree I created a spaced repetition language learning application and.. well it wasn't that well made.
            For the project I used ASP.NET web forms, and the way the entire project works was kind of gross.

            Here I endeavour to redesign that project and in the process make a simple CRUD application.
        </p>
        <a asp-controller="FlashcardApp" asp-action="SetView" class="btn-get-started">Enter the application.</a>
    </div>
</content>

