<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioTake2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioTake2.styles.css" asp-append-version="true" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <!-- =======================================================
    * Template Name: Bikin - v4.8.0
    * Template URL: https://bootstrapmade.com/bikin-free-simple-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->


</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a asp-controller="Home" asp-action="Index">Angus Gaukroger</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link" asp-controller="Home" asp-action="AboutMe">About Me</a></li>
                    <li class="dropdown">
                        <a asp-controller="Travel" asp-action="Index"><span>Travel</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li class="dropdown">
                                <a asp-controller="Spain" asp-action="Index"><span>Spain</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a asp-controller="Spain" asp-action="Barcelona">Barcelona</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a asp-controller="Peru" asp-action="Index"><span>Perú</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a asp-controller="Peru" asp-action="Lima">Lima</a></li>
                                    <li><a asp-controller="Peru" asp-action="Huaraz">Huaraz</a></li>
                                    <li><a asp-controller="Peru" asp-action="Huanchaco">Huanchaco</a></li>
                                    <li><a asp-controller="Peru" asp-action="Cajamarca">Cajamarca</a></li>
                                    <li><a asp-controller="Peru" asp-action="Chachapoyas">Chachapoyas</a></li>
                                    <li><a asp-controller="Peru" asp-action="Piura">Piura</a></li>
                                    <li><a asp-controller="Peru" asp-action="Mancora">Mancora</a></li>
                                    <li><a asp-controller="Peru" asp-action="Tumbes">Tumbes</a></li>
                                    <li><a asp-controller="Peru" asp-action="Cusco">Cusco</a></li>
                                    <li><a asp-controller="Peru" asp-action="Ollantaytambo">Ollantaytambo</a></li>
                                    <li><a asp-controller="Peru" asp-action="Pisac">Pisac</a></li>
                                    <li><a asp-controller="Peru" asp-action="Arequipa">Arequipa</a></li>
                                    <li><a asp-controller="Peru" asp-action="Paracas">Paracas</a></li>
                                    <li><a asp-controller="Peru" asp-action="Huacachina">Huacachina</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a asp-controller="Colombia" asp-action="Index"><span>Colombia</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a asp-controller="Colombia" asp-action="Cartagena">Cartagena</a></li>
                                    <li><a asp-controller="Colombia" asp-action="RosarioIslands">Rosario Islands</a></li>
                                    <li><a asp-controller="Colombia" asp-action="Minca">Minca</a></li>
                                    <li><a asp-controller="Colombia" asp-action="SantaMarta">Santa Marta</a></li>
                                    <li><a asp-controller="Colombia" asp-action="Medellin">Medellín</a></li>
                                    <li><a asp-controller="Colombia" asp-action="Salento">Salento</a></li>
                                    <li><a asp-controller="Colombia" asp-action="Bogota">Bogotá</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a asp-controller="Ecuador" asp-action="Index"><span>Ecuador</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a asp-controller="Ecuador" asp-action="Cuenca">Cuenca</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    <li><a class="nav-link" asp-controller="Podcast" asp-action="Index">The __ Podcast</a></li>
                    <li><a class="nav-link" asp-controller="FlashcardApp" asp-action="Landing">Flashcard Application</a>           
                    <li><a class="nav-link" asp-controller="Home" asp-action="ContactMe">Contact Me</a>
                    
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Angus Gaukroger</h3>
                        <p>
                            Junior Software Engineer <br>
                            <br>
                            Please contact me for more information: <br>
                            <strong>Mobile:</strong> +44 7775 274549<br>
                            <strong>Email:</strong> agaukroger77@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="AboutMe">About Me</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Travel" asp-action="Index">Travel</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="FlashcardApp" asp-action="Landing">Flashcard Application</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="ContactMe">Contact Me</a></li>
                        </ul>
                    </div>
                    <div class="social-links text-center text-md-right pt-3 pt-md-0">
                        <a href="www.facebook.com/angusgaukroger" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="www.linked.com/angusgaukroger" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                    @*<div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>*@

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Angus Gaukroger</span></strong>. All Rights Reserved
                </div>
                
            </div>
            
        </div>
    </footer><!-- End Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
